@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

.header {
    font-family: 'Inter', sans-serif;
    max-width: 100vw;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1000;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background: white;
    transition: background 0.3s;
    min-height: 100px;

}

.scrolled {
    left: 0;
    right: 0;
    width: 100%;
    background: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    z-index: 1000;
    transition: background 0.3s, top 0.3s;
    min-height: 80px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1246px;
    height: 54px;
    margin: 15px auto ;
    position: relative;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

/* Линия */
.underline {
    width: 255px;
    height: 0;
    border-bottom: 1px solid #CBCBCB;
    margin: 0 auto;
    display: none;
}


@media (max-width: 1024px) {
    .header {
        padding: 0 89px;
    }

    .container {
        width: 890px;
        height: 40px;
    }
}

@media (max-width: 375px) {
    .header {
        padding: 0 30px;
        width: 315px;
        height: 46px;
    }

    .container {
        width: 262px;
        height: 46px;
    }

    .underline {
        display: block;
    }
}
