.footer {
    height: 345px;
    background: #141416;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0;
}

.footerTop {
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1246px;
    height: 65px;
}

.brandContainer {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo {
    width: 65px;
    height: 65px;
}

.brandName {
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 30px;
    line-height: 130%;
    letter-spacing: 0px;
    color: #FFFFFF;

}

.footerMenu {
    display: flex;
    gap: 20px;
}

.footerMenu a {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    text-transform: capitalize;
    color: #b9b9b9;
    text-decoration: none;
}

.footerMenu a:hover {
    color: white;
}

.footerLine {
    margin: 20px 0;
    width: 1246px;
    border: 1px solid #818181;
    opacity: 0.25;
}

.footerBottom {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1246px;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    color: #b9b9b9;
}

.p {
    width: 63px;
    height: 25px;
    font-family: Inter, sans-serif;
    font-weight: 500;
    font-size: 17px;
    line-height: 25px;
    color: #999999;
}

.socialIcons {
    display: flex;
    gap: 15px;
}

.socialIcons img {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.socialIcons img {
    width: 24px;
    height: 24px;
}

.socialIcons img:hover {
    opacity: 0.8;
}

.socialIconsSvg {
    cursor: pointer;
    fill: #535353
}

.socialIconsSvg:hover {
    fill: white;
}

@media (max-width: 1024px) {
    .footer {
        height: auto;
        padding: 30px 0;
    }

    .footerTop {
        width: 886px;
    }

    .brandName {
        font-size: 24px;
    }

    .footerMenu a {
        font-size: 16px;
    }

    .footerLine {
        width: 886px;
    }

    .footerBottom {
        width: 886px;
        font-size: 14px;
    }

    .socialIcons img {
        width: 17px;
        height: 17px;
    }
}

@media (max-width: 375px) {
    .footer {
        width: 375px;
        height: 426px;
        padding: 20px 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footerTop {
        flex-direction: column;
        align-items: center;
        width: 100%;
        text-align: start;
        position: relative;
        left: -89px;
    }

    .footerMenu {
        flex-direction: column;
        gap: 10px;
        margin-top: 20px;

    }

    .footerLine {
        position: relative;
        top: 180px;
        width: 100%;
        margin: 20px 0;
        order: 2;
    }

    .footerBottom {
        flex-direction: column;
        text-align: center;
        gap: 15px;
        width: 100%;
        order: 3;
    }

    .p {
        position: relative;
        top: 133px;
    }

    .socialIcons {
        position: relative;
        top: -197px;
        left: 110px;
    }

}